{include file='public/header'/}
<body>
<!-- 顶部开始 -->
{include file='public/top'/}
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    {include file='public/admin_menu'/}
    <!-- 右侧主体开始 -->
    
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
           
            <blockquote class="layui-elem-quote">
                <div class="x-nav">
<span class="layui-breadcrumb">
  <a><cite>后台首页</cite></a>
  <a><cite>信息查看</cite></a>
  <a><cite>员工信息</cite></a>
</span>
                    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
                </div>
            </blockquote>

            <xblock><form class="layui-form xbs" enctype="multipart/form-data" method="get" action="{:url('searchreport')}" >
                <div class="layui-form-pane" >
              
                    <div class="layui-form-item" style="display: inline-block;">
                        <label class="layui-form-label xbs768">当前时间</label>
                        <div class="layui-input-inline xbs768">
                            <label class="layui-input" id="sTime"><script>setInterval("document.all.sTime.innerText=new   Date().toLocaleString()",1000)</script> </label>
                        </div>
                        <div class="layui-input-inline xbs768">
                        
                            <label class="layui-input" id="jnkc"> 
									   <script>setInterval("jnkc.innerHTML=' 星期'+'日一二三四五六'.charAt (new Date().getDay());",1000);</script> </label>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="name" lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline" style="width:80px">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach" type="submit"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>
            </form>
              <span class="x-right" style="line-height:40px">共有数据：{$count}条</span></xblock>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="" value="">
                    </th>
                    <th>
                       编号
                    </th>
                    <th>
                      	 账号
                    </th>
                    <th>
                        姓名
                    </th>
                     <th>
                        性别
                    </th>

                    <th>
                        手机
                    </th>

                    <th>
                        邮箱
                    </th>
                    <th>
                      	入职时间
                    </th>
                    <th>
                        离职状态
                    </th>
                    
                     <th>
                        部门
                    </th>
                      <th>
                        职位
                    </th>
                    <th>
                       操作
                    </th>

                </tr>
                </thead>
                <tbody>
                {volist name='admin' id='admin' empty="没有数据"}
                <tr>
                    <td>
                        <input type="checkbox" value="1" name="">
                    </td>
                    <td>
                        {$i}
                    </td>
                    <td>
                        <!--<u style="cursor:pointer" onclick="admin_show('{$admin.username}','{:url("show")}'+'?id='+{$admin.id},'4','','510')">
                            {$admin.username}
                        </u>-->
                        {$admin.username}
                    </td>

 					 <td >
                        {$admin.name}
                    </td>
                     <td >
                       {eq name="admin['sex']" value="1"}
                       男 {else/} 女  {/eq}
                    </td>
                      <td >
                        {$admin.phone}
                    </td>
                    <td >
                        {$admin.email}
                    </td>
                    
                    <td >
                        {$admin.entry_time}
                    </td>
                    <td >
                    {eq name="admin['is_job']" value="1"}
                       <span class="layui-btn layui-btn-normal layui-btn-mini">
                                在职中
                            </span>
                            {else/}
                             <span class="layui-btn layui-btn-danger layui-btn-mini">
                                已离职
                            </span>
                            
                            {/eq}
                    </td>
                    <td >
                    {switch name="$admin.depart" }
    					{case value="1" }管理层{/case}
   						{case value="2" }商务{/case}
    					{case value="3" }技术{/case}
    					{case value="4" }后勤{/case}
    					{default /}
					{/switch}
                    </td>
                    
                  	<td >
                       {switch name="$admin.grade" }
    					{case value="1" }领导{/case}
   						{case value="2" }经理{/case}
    					{case value="3" }普通员工{/case}
    					{default /}
					{/switch}
                    </td>
                    <td class="td-manage">
  <a title="编辑" href="javascript:;" class="layui-btn layui-btn-normal  layui-btn-mini" 
                           class="ml-5" style="text-decoration:none">
                          业绩
                        </a>
                        <a title="编辑" href="javascript:;" class="layui-btn   layui-btn-mini" onClick="admin_edit('修改员工信息','{:url("edit")}'+'?id='+{$admin.id},'4')"
                           class="ml-5" style="text-decoration:none">
                          修改
                        </a>
                       
                        <a title="删除" href="javascript:;" class="layui-btn layui-btn-danger  layui-btn-mini" onClick="admin_del(this,'{$admin.id}')"
                           style="text-decoration:none">
                         删除
                        </a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
{include file='public/footer'/}
<!-- 底部结束 -->
<!-- 背景切换开始 -->
{include file='public/bg-changer'/}
<!-- 背景切换结束 -->
<!-- 页面动态效果 -->
<script>

    layui.use(['laydate'], function(){
        laydate = layui.laydate;//日期插件

        //以上模块根据需要引入
        //



        var start = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        document.getElementById('LAY_demorange_s').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('LAY_demorange_e').onclick = function(){
            end.elem = this
            laydate(end);
        }

    });

    //批量删除提交
    function delAll () {
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
    }
    /*用户-添加*/
    function admin_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }

    // 用户-编辑
    function admin_edit (title,url,id,w,h) {
        x_admin_show(title,url,w,h);
       
    }
    /*密码-修改*/
    function admin_password(title,url,id,w,h){
        x_admin_show(title,url,w,h);
    }
    /*用户-删除*/
    function admin_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.get("{:url('delete')}",{id:id});
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }





</script>

</body>
</html>