{include file='public/header'/}

<body>

<div class="x-body">

    <form class="layui-form" enctype="multipart/form-data" method="post" action="{:url('update1')}">
        <div class="layui-form-item">
            <label for="password3" class="layui-form-label">
                <span class="x-red"></span>输入原密码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="password3" name="password3" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="password1" class="layui-form-label">
                <span class="x-red"></span>输入新密码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="password1" name="password1" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*不能为空</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="password2" class="layui-form-label">
                <span class="x-red"></span>确定密码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="password2" name="password2" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*与第一次输入的新密码应该一致</span>
            </div>
        </div>

        <!--隐藏域-->
        <input type="hidden" name="id" value="{$data.id}">
        <div class="layui-form-item">
            <label for="password" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="password" lay-submit="" id="password" type="submit">
                保存
            </button>
        </div>
    </form>
</div>
</body>

</html>