{include file='public/header'/}   
<!--Logo 开始-->
{include file='public/toplogo'/}     
<!--网站Logo 结束-->
{include file='public/mainnav'/}  
<!--JS幻灯片 开始-->
{include file='public/banner'/}  
<!--JS幻灯片 结束-->
<!--公告 开始-->
{include file='public/notice'/}  
<!--公告 结束-->
<!--主体内容 开始-->
<div class="picture">
	<div class="subchannel_main">
		<div class="subchannel">
			<ul class="subchannellist">
				 {volist name="caidan" id="vo"}
                {eq name="vo.pid" value="9"}
                    <li class="depth1"><a href="{:url("show")}?id={$vo.id}">{$vo.cate_name}</a></li>
                {/eq}
			{/volist}
			
			</ul>
		</div>
	</div>
	<!--右侧区域 开始-->
    <div id="right">
    	<div class="right_title"><!--当前位置 开始-->
        	<div id="location">
            	<div class="left_title2"><h2><span class="ChannelName">苗木</span><span class="ChannelSContent"></span></h2></div>
                <div class="left_body2"><b>当前位置：</b><a href="/" target="_self">网站首页</a>&nbsp;>>&nbsp;<a href="/product.html" target="_self">产品中心</a>&nbsp;>>&nbsp;<a href="/tlcp.html" target="_self">苗木</a>&nbsp;>>&nbsp;<a href="#" target="_self">查看详情</a></div>
                <div class="left_bottom2"></div>
             </div><!--当前位置 结束-->
             <h2><img src="__STATIC__/images/titleleftbg.png" align="absmiddle"  />{$detail.title}<img src="__STATIC__/images/titlerightbg.png"   align="absmiddle" /></h2>
         </div>
         <div class="right_body">
         	<div class="info_product_detail_wrap">
            	
                   
             </div>
             <div class="ProductDescription"></div><!-- 频道/文章内容  开始-->
             <div class="InfoSContent"><p><img src="__ROOT__/uploads/product/{$detail.image}" title="苗木6" alt="苗木6" class="chanpingtu"/>

<p class="spsp">发布时间：{$detail.addtime}</p>

<p class="spsp">商品描述：{$detail.desc}</p>



{$detail.content}</p></div>
             <div class="InfoContent"></div><!-- 频道/文章内容  结束--><!-- 当前信息 上一条 下一条  开始-->
             <div class="info_previous_next_wrap">
             	<div class="Previous"><b>上一产品：</b>
                {empty name="front"}
				<a>已经是第一条了</a>
				{else /}
 				<a href="{:url("detail")}?id={$front.id}">{$front.title}</a>
				{/empty}</div>
                <div class="Next"><b>下一产品：</b>	{empty name="after"}
		<a>已经是最后一条了</a>
		{else /}
 		<a href="{:url("detail")}?id={$after.id}">{$after.title}</a>
		{/empty}</div>
             </div><!-- 当前信息 上一条 下一条  结束-->
           </div>
          	<div class="right_bottom"></div>
      </div><!--右侧区域 结束-->
    
    <div class="clear"></div></div><!--主体内容 结束-->
{include file='public/footer'/}