<style>
/*****logo********/
.adlogo{width:150px;}
.adlogo1{width:150px;}
/*****表格黑色背景********/
.bg11{background-color: rgba(0,0,0,0.4);}
.center{text-align:center;}
.dywid{width:90px}
.wid1{width:150px}

/*****进度条********/
button {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #5bc0de;
}

.main {
	width: 1000px;
	margin: 100px auto;
}

#step {
	margin-bottom: 60px;
}

.btns {
	float: left;
}

.info {
	float: left;
	height: 34px;
	line-height: 34px;
	margin-left: 40px;
	font-size: 28px;
	font-weight: bold;
	color: #928787;
}

.info span {
	color: red;
}
</style>