<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>智越时代综合管理系统！</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/css/font.css">
	<link rel="stylesheet" href="__STATIC__/css/xadmin.css">
    <!--分页css-->
    <link rel="stylesheet" href="__STATIC__/css/cate.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    {include file='public/base_css'/}
     {include file='public/base_js'/}
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
     {include file='public/base_jsend'/}
     <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
     <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
     <script type="text/javascript" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    
		<script type="text/javascript" charset="utf-8">
        var editor = new UE.ui.Editor({
            initialFrameHeight : 500,
			initialFrameWidth:1160
        });
        ue = editor.render('editor');
        </script>


</head>