<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="./index.html" style="font-size:36px"><img src="__ROOT__/zysd.png" class="adlogo1" >综合管理系统!</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人信息</a></dd>
                <dd><a href="">切换帐号</a></dd>
                <dd><a href="{:url('login/logout')}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="http://www.gzzysd.com" target="_blank"><img src="__ROOT__/logo.png" class="adlogo" ></a></li>
    </ul>
</div>

