{include file='public/header'/}
<body>
    <!-- 顶部开始 -->
    {include file='public/top'/}
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        {include file='public/admin_menu'/}
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
           
            <blockquote class="layui-elem-quote">
                
                <span class="layui-breadcrumb">
                  <a><cite>后台首页</cite></a>
                  <a><cite>个人中心</cite></a>
                  <a><cite>修改密码</cite></a>
                </span>
                    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
            </blockquote>
             <blockquote class="layui-elem-quote">
                欢迎使用智越时代客户管理系统！<span class="f-14">联系方式： 0851-85770877</span>&nbsp;&nbsp;&nbsp;&nbsp;注意：每个页面都可以独立设置一个背景主题，如果想更换背景，请点击右边的转动框。
            </blockquote>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">修改个人密码</a></legend>
            </fieldset>
 
     
            <form class="layui-form" action="">
         		<div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">输入原密码</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="password"  autocomplete="off" lay-verify="required" class="layui-input" >
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">输入新密码</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="repass1"  autocomplete="off" lay-verify="required" class="layui-input" >
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">再次输入</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="repass2"  autocomplete="off" lay-verify="required" class="layui-input" >
                        </div>
                    </div>
                </div>
                  <!--隐藏域-->
            <input type="hidden" name="pswd" value="{$uif.password}">
            <input type="hidden" name="id" value="{$uif.id}">
          
                 <div class="layui-form-item" style="margin-left:120px">
                    <button class="layui-btn" lay-submit=""  id="perpass" lay-filter="pass">确定</button>
                </div>
            </form>
        
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
<script>
    $(function  () {
         $("#perpass").on("click",function(){
                 $.ajax({
                       type: 'POST',
                       url: "{:url('index/pass')}",
                       data:  $(".layui-form").serialize(),
                       dataType: "json",
                        async: false,
                   
						success: function(data){
							console.log(data.message);
							if (data.status == 1) {
								layer.msg(data.message,{icon:6,time:2000,});
	
							  
	
							} else {
								layer.msg(data.message,{icon:6,time:2000,});
					
							}
						}
                  
                });
       })
    })
</script>
    {include file='public/footer'/}
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
    {include file='public/bg-changer'/}
    <!-- 背景切换结束 -->

</body>
</html>