
{include file='public/header'/}

<body class="body_index">

<!--顶部 开始-->
{include file='public/top'/}
<!--顶部 结束-->
<!--Logo 开始-->
{include file='public/banner1'/}
<!--JS幻灯片 结束-->
<div class="subchannel_main">
    <div class="subchannel">
        <ul class="subchannellist">
        {volist name="singlepage" id="vo"}
        {eq name="vo.pid" value="3"}
            <li class="depth1"><a href="{:url("show")}?id={$vo.id}">{$vo.cate_name}</a></li>
        {/eq}
 		{/volist}
        </ul>
    </div>
</div>
<script>$(".subchannellist li").last().css("border-right","none");</script>
<!--主体内容 开始-->
<div class="single"><!--右侧区域 开始-->
    <div id="right">
        <div class="right_title">
            <!--当前位置 开始-->
            <div id="location">
                <b>当前位置：</b><a href="/" target="_self">网站首页</a>&nbsp;>>&nbsp;<a href="/aboutus.html" target="_self">关于我们</a>
            </div>
            <!--当前位置 结束-->
            <h2>
                <img src="__STATIC__/images/about/titleleftbg.png" align="absmiddle"  />
                 
           {$show.cate_name}
        		
                <img src="__STATIC__/images/about/titlerightbg.png"   align="absmiddle" />
            </h2>
        </div>
        <div class="right_body">
            <ul class="thumblist" >
                <!--循环开始-->
                  {volist name="fieldshow" id="vo" }
                 
                <li class="animated delay{$i}">
                    <a href="{:url("detail")}?id={$vo.id}" target="_blank"><img src="__ROOT__/uploads/field/{$vo.image}" title="{$vo.title}" alt="{$vo.title}"/></a>
                    <a class="info_wrap" href="{:url("detail")}?id={$vo.id}" target="_blank" title="{$vo.title}">
                        <b></b>
                        <span class="InfoTitle">{$vo.title}</span>
                        <p>{$vo.desc}</p>
                        <span class="ViewMore">查看更多 ></span>
                    </a>
                </li>
              
                {/volist}
               <!--循环结束-->
               
            </ul>
        </div>
        	
        <div class="right_bottom"></div>
    </div>
    <!--右侧区域 结束-->
    <div class="clear"></div>
</div>
<!--主体内容 结束-->
<!--第五行频-->
{include file='public/diwuping'/}
<!--第五行频道 结束-->
{include file='public/footer'/}