{include file='public/header'/}   
<!--Logo 开始-->
{include file='public/toplogo'/}     
<!--网站Logo 结束-->
{include file='public/mainnav'/}  
<!--JS幻灯片 开始-->
{include file='public/banner'/}  
<!--JS幻灯片 结束-->
<!--公告 开始-->
{include file='public/notice'/}  
<!--公告 结束-->
<!--主体内容 开始-->
<div class="single">
	<div class="subchannel_main">
    	<div class="subchannel">
        	<ul class="subchannellist">
             {volist name="caidan" id="vo"}
                {eq name="vo.pid" value="2"}
                    <li class="depth1"><a href="{:url("show")}?id={$vo.id}">{$vo.cate_name}</a></li>
                {/eq}
            {/volist}
            </ul>
         </div>
     </div><!--右侧区域 开始-->
     <div id="right">
     	<div class="right_title"><!--当前位置 开始-->
        	<div id="location">
            	<div class="left_title2"><h2><span class="ChannelName">关于我们</span><span class="ChannelSContent">ABOUTS US</span></h2></div>
                <div class="left_body2"><b>当前位置：</b><a href="/" target="_self">网站首页</a>&nbsp;>>&nbsp;<a href="/aboutus.html" target="_self">关于我们</a></div>
                <div class="left_bottom2"></div>
             </div>
             <!--当前位置 结束-->
             <h2><img src="__STATIC__/images/titleleftbg.png" align="absmiddle"  />
             {$show.cate_name}
             <img src="__STATIC__/images/titlerightbg.png"   align="absmiddle" /></h2>
        </div>
        <div class="right_body">
        	<div class="ChannelContent">
            	<div class="right_body">
					<div class="ChannelContent">
						<div>
						 {$show.content}
            			</div>
					</div>
				</div>
			</div>
         </div>
         <div class="right_bottom"></div>
      </div><!--右侧区域 结束--><div class="clear"></div></div>
<!--主体内容 结束-->
{include file='public/footer'/}