{include file='public/header'/}   
<!--Logo 开始-->
{include file='public/toplogo'/}     
<!--网站Logo 结束-->
{include file='public/mainnav'/}  
<!--JS幻灯片 开始-->
{include file='public/banner'/}  
<!--JS幻灯片 结束-->
<!--公告 开始-->
{include file='public/notice'/}  
<!--公告 结束-->
<!--主体内容 开始-->
<div class="article"><!--当前位置 开始-->
	<div id="location">
    	<div class="left_title2"><h2><span class="ChannelName">新闻资讯</span><span class="ChannelSContent">NEWS</span></h2></div>
        <div class="left_body2"><b>当前位置：</b><a href="/" target="_self">网站首页</a>&nbsp;>>&nbsp;<a href="/news.html" target="_self">新闻资讯</a></div>
        <div class="left_bottom2"></div>
     </div><!--当前位置 结束-->
     <div class="subchannel_main">
     	<div class="subchannel">
        	<ul class="subchannellist">
            	 {volist name="caidan" id="vo"}
                {eq name="vo.pid" value="5"}
                    <li class="depth1"><a href="{:url("show")}?id={$vo.id}">{$vo.cate_name}</a></li>
                {/eq}
            {/volist}
            </ul>
        </div>
    </div><!--右侧区域 开始-->
    <div id="right">
    	<div class="right_title"><span class="more"><a href="/companynews.html" target="_blank">更多...</a></span>
        	<h2><img src="__STATIC__/images/titleleftbg.png" align="absmiddle"  /> {$singlepage.cate_name}<img src="__STATIC__/images/titlerightbg.png"   align="absmiddle" /></h2>
        </div>
        <div class="right_body">
        	<ul class="thumblist"><!--循环开始-->
               {volist name="news" id="vo"}
            <li>
                    <a class="InfoPicture" href="{:url("detail")}?id={$vo.id}" target="_blank">
                        <img  src="__ROOT__/uploads/news/{$vo.image}"  class="tianjiade"  title="{$vo.title}" alt="{$vo.title}" />
                    </a>
                <div class="info_wrap">
                    <a class="InfoTitle" href="{:url("detail")}?id={$vo.id}" target="_blank">{$vo.title}</a>
                    <p>{$vo.create_time}</p>
                    <p class="InfoContent">{$vo.desc}</p>
                </div>
             </li>
 			{/volist}


<!--循环结束--></ul></div><div class="right_bottom"></div></div><!--右侧区域 结束-->

<div class="clear"></div>
<div id="page" class="pagecss" >{$news->render()}</div>
</div><!--主体内容 结束-->

{include file='public/footer'/}