{include file='public/header'/}
<body>
    <!-- 顶部开始 -->
    {include file='public/top'/}
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        {include file='public/admin_menu'/}
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
           
           
             <blockquote class="layui-elem-quote">
                <div class="x-nav">
                <span class="layui-breadcrumb">
                  <a><cite>后台首页</cite></a>
                  <a><cite>信息录入</cite></a>
                  <a><cite>备案信息录入</cite></a>
                </span>
                    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
                </div>
            </blockquote>
             <blockquote class="layui-elem-quote">
                欢迎使用智越时代客户管理系统！<span class="f-14">联系方式： 0851-85770877</span>&nbsp;&nbsp;&nbsp;&nbsp;注意：每个页面都可以独立设置一个背景主题，如果想更换背景，请点击右边的转动框。
            </blockquote>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">备案信息录入</a></legend>
            </fieldset>
          <table class="layui-table">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="" value="">
                        </th>
                        <th>
                            编号
                        </th>
                         <th>
                            备案名称
                        </th>
                        <th>
                           备案地址
                        </th>
                        <th>
                           法人
                        </th>
                         <th>
                           备案域名
                        </th>
                      
                        <th>
                            备案邮箱
                        </th>
                         <th>
                            备案资料是否齐全
                        </th>
                      
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody id="x-img">
                    {volist name='client_list' id='client'}
                    <tr>
                        <td>
                            <input type="checkbox" value="1" name="">
                        </td>
                        <td>
                            {$i}
                        </td>
                        <td >
                          {$client.name}
                          
                        </td>
                        <td>
                             {$client.address}
                        </td>
                        <td >
                           {$client.lxr}
                        </td>
                         <td >
                           {$client.url}
                        </td>
                       
                        <td >
                             {$client.email}
                              
                        </td>
                         
                        <td >
                         {eq name="client:badata" value="1"}
                       <span class="layui-btn layui-btn-normal layui-btn-mini">
                                已收取
                            </span>
                            {else/}
                             <span class="layui-btn layui-btn-danger layui-btn-mini">
                                不齐全
                            </span>
                            
                            {/eq}
                              
                        </td>
                       
                        <td class="td-manage">
                            
                            <a title="编辑"  class="layui-btn  layui-btn-xs layui-btn-radius layui-btn-mini" href="{:url('beian/entry')}?b_id={$client.id}"
                               class="ml-5" style="text-decoration:none">
                        录入备案
                            </a>
                            <!--
                            <a title="删除"  class="layui-btn layui-btn-danger layui-btn-xs" href="javascript:;" onClick="client_del(this,'{$client.id}')"
                               style="text-decoration:none">
                            删除
                            </a>-->
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>

                <div id="page" class="pagecss" >{$client_list->render()}</div>
         
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    {include file='public/footer'/}
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
    {include file='public/bg-changer'/}
    <!-- 背景切换结束 -->
     <!--
    <script>
    $(function  () {
         $("#peradd").on("click",function(){
                 $.ajax({
                       type: 'POST',
                       url: "{:url('client/save')}",
                       data:  $(".layui-form").serialize(),
                       dataType: "json",
                        async: false,
                    
                    success: function(data){
						console.log(data);
                        if (data.status == 1) {
                            layer.msg(data.message,{icon:6,time:3000});

                        } else {
                            layer.msg(data.message,{icon:6,time:5000});
                        }
                    }
                  
                });
       })
    })
</script>
   
    <script>
    layui.use(['laydate'], function(){
        laydate = layui.laydate;//日期插件

        //以上模块根据需要引入
        //



        var start = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        document.getElementById('LAY_demorange_s').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('LAY_demorange_e').onclick = function(){
            end.elem = this
            laydate(end);
        }

    });
</script>-->

</body>
</html>