{include file='public/header'/}
<body>
    <!-- 顶部开始 -->
    {include file='public/top'/}
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        {include file='public/admin_menu'/}
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
           
           
             <blockquote class="layui-elem-quote">
                <div class="x-nav">
                <span class="layui-breadcrumb">
                  <a><cite>后台首页</cite></a>
                  <a><cite>信息录入</cite></a>
                  <a><cite>客户信息录入</cite></a>
                </span>
                    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
                </div>
            </blockquote>
             <blockquote class="layui-elem-quote">
                欢迎使用智越时代客户管理系统！<span class="f-14">联系方式： 0851-85770877</span>&nbsp;&nbsp;&nbsp;&nbsp;注意：每个页面都可以独立设置一个背景主题，如果想更换背景，请点击右边的转动框。
            </blockquote>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">客户信息录入</a></legend>
            </fieldset>
           <form class="layui-form " action="">
          		
                
                
                  <div class="layui-form-item">
                    	<div class="layui-inline">
                        <label class="layui-form-label">商务负责人</label>
                            <div class="layui-input-inline">
                                 <input type="text" autocomplete="off" disabled="disabled" class="layui-input" value="{$uif.name}" >
                            </div>
                            <div class="layui-form-mid layui-word-aux">*默认为录入者，且不可以修改，如需修改请联系管理员</div>
                    	</div>
                   </div>
                   
                      <!--隐藏域-->
        <input type="hidden" name="serversw" value="{$uif.name}"> 
                
                <div class="layui-form-item">
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入公司名称" class="layui-input">
                    </div>
                </div>
               
                <div class="layui-form-item">
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" autocomplete="off"  class="layui-input">
                    </div>
                </div>
                
                
               
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">座机</label>
                        <div class="layui-input-block">
                             <input type="text" name="tel" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">网站类型</label>
                        <div class="layui-input-inline">
                        	 <input type="text" name="type" autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">网址</label>
                            <div class="layui-input-inline">
                                 <input type="text"  name="url"   autocomplete="off" class="layui-input" >
                            </div>
                    	</div>
                </div>
                
              
   
                 <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">服务年限</label>
                        <div class="layui-input-block">
                             <input type="text" name="servertime" placeholder="请输入年期，如：1年" autocomplete="off"  class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">语言版本</label>
                        <div class="layui-input-inline">
                        	 <select name="language" lay-filter="language" >
                                <option value="1">请选择</option>
                                <option value="1">中文</option>
                                <option value="2">英文</option>
                                <option value="3">双语版</option> 
                              </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否下单</label>
                            <div class="layui-input-inline">
                            <input type="radio" name="is_play" value="0" title="没下单" checked=""><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>没下单</span></div>
                                 <input type="radio" name="is_play" value="1" title="下单" ><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>已下单</span></div>
                        		
                            </div>
                    	</div>
                </div>
                    
               
                   
                         <div class="layui-form-item">
                    <label class="layui-form-label">未下单原因</label>
                    <div class="layui-input-block">
                        <input type="text" name="noplay" placeholder="" autocomplete="off"  class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注信息</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="info" class="layui-textarea"></textarea>
                    </div>
                </div>
                
         <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">备案信息录入</a></legend>
            </fieldset>
      		 	<div class="layui-form-item">
                    	<div class="layui-inline">
                        <label class="layui-form-label">备案邮箱</label>
                            <div class="layui-input-inline">
                                 <input type="text"  name="email"   autocomplete="off" class="layui-input" >
                            </div>
                    	</div>
     			</div>
                          
                 	<div class="layui-form-item">
                    	<div class="layui-inline">
                       		<label class="layui-form-label">备案资料</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="badata" value="0" title="不齐全" checked=""><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>不齐全</span></div>
                                 <input type="radio" name="badata" value="1" title="齐全" ><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>齐全</span></div>
                            </div>
                            <div class="layui-form-mid layui-word-aux">*包括幕布照、营业执照、法人（负责人）身份证正反面、核验单、授权书、qq、手机号</div>
                    	</div>
     				</div>
                               
         <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">备案联系人（法人）信息</a></legend>
            </fieldset>
            <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">联系人姓名</label>
                        <div class="layui-input-block">
                            <input type="text"  name="lxr"   autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">联系人手机</label>
                        <div class="layui-input-inline">
                        	 <input type="text"  name="lxr_phone"   autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    
                </div>
           
                
               
                    <div class="layui-form-item">
                    
                        <label class="layui-form-label">身份证号码</label>
                            <div class="layui-input-block">
                                 <input type="text"  name="lxr_sfz"   autocomplete="off" class="layui-input" >
                            </div> 
     				</div>
                 
                     <div class="layui-form-item">
                    	
                        <label class="layui-form-label">身份证地址</label>
                            <div class="layui-input-block">
                                 <input type="text"  name="lxr_sfzadd"   autocomplete="off" class="layui-input" >
							</div>
     				</div>
                <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">备案负责人信息</a></legend>
            </fieldset>
          
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">负责人姓名</label>
                        <div class="layui-input-block">
                            <input type="text"  name="fzr"   autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                     
                    <div class="layui-inline">
                        <label class="layui-form-label">负责人手机</label>
                        <div class="layui-input-inline">
                        	 <input type="text"  name="fzr_phone"   autocomplete="off" class="layui-input" >
                        </div>
                    </div>
                    
                </div>
           
               
                  
                    <div class="layui-form-item">
                    
                        <label class="layui-form-label">身份证号码</label>
                            <div class="layui-input-block">
                                 <input type="text"  name="fzr_sfz"   autocomplete="off" class="layui-input" >
                            </div> 
     				</div>
               
                     <div class="layui-form-item">
                    	
                        <label class="layui-form-label">身份证地址</label>
                            <div class="layui-input-block">
                                 <input type="text"  name="fzr_sfzadd"   autocomplete="off" class="layui-input" >
							</div>
     				</div>
       
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit=""  id="peradd" lay-filter="add" style="margin-left:200px">提交</button>
                </div>
            </form>
         
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    {include file='public/footer'/}
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
    {include file='public/bg-changer'/}
    <!-- 背景切换结束 -->
    <script>
    $(function  () {
         $("#peradd").on("click",function(){
                 $.ajax({
                       type: 'POST',
                       url: "{:url('client/save')}",
                       data:  $(".layui-form").serialize(),
                       dataType: "json",
                        async: false,
                    
                    success: function(data){
						console.log(data);
                        if (data.status == 1) {
                            layer.msg(data.message,{icon:6,time:3000});

                        } else {
                            layer.msg(data.message,{icon:6,time:5000});
                        }
                    }
                  
                });
       })
    })
</script>
    <!--
    <script>
    layui.use(['laydate'], function(){
        laydate = layui.laydate;//日期插件

        //以上模块根据需要引入
        //



        var start = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        document.getElementById('LAY_demorange_s').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('LAY_demorange_e').onclick = function(){
            end.elem = this
            laydate(end);
        }

    });
</script>-->

</body>
</html>