<style>
/*分页*/

@media screen and (min-width:1200px){
.pagecss{text-align: center}
.pagecss ul{
    list-style-type: none;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.pagecss ul li{
    float:left;
    margin-left:5px;
    border: 1px solid #1da110;
    padding:2px 10px;


}
.pagecss ul li:hover{
    background-color: #01673a;
	color: #fff;
}
.pagecss ul li.active{
    float:left;
    margin-left:5px;
    border: 1px solid rgba(255,255,255,0.2);
    padding:2px 10px;
    border-radius: 0;
    background-color: #01673a;
	color: #fff;
}
.pagecss ul li a{
	color:#000;
    text-decoration: none;
}
.pagecss ul li a:hover{
    color: #fff;
	
}
/*文件下载*/
#downloadlist {
        padding: 15px 1% 15px 2%;
    width: 47%;
    float: left;
    display: inline;
}
#downloadlist .metlist {
    margin-bottom: 20px;
}
#downloadlist .metlist dt {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 5px 8px 20px;
    /*background: url(../images/dt-9.gif) no-repeat 5px 11px;*/
	background: #a3c698;
}
#downloadlist .metlist dd {
    color: #999;
    padding: 8px;
    background: #f7f8fa;
	margin:0px 0px;
}
#downloadlist .metlist dd div {
    float: right;
}
#downloadlist .metlist dd a {
color: #007131;
}
#downloadlist .metlist dd a.down {
    color: #fa1a1a;
}
#downloadlist .metlist dd span {
    padding-right: 20px;
}
#downloadlist .metlist dd b {
    font-weight: normal;
}

/*招聘页面-职位详情*/
#showjob h1.title {
    font-size: 24px;
    padding: 15px 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}
#showjob .paralist {
    background: #8c989f;
    padding: 5px 10px;
    color: #fff;
    visibility:visible;
    margin-top: 30px;

}
#showjob .paralist li {
    list-style: none;
    padding: 8px 5px 8px 90px;
    min-height: 20px;
    position: relative;
    border-bottom: 1px solid #ddd;
	height:22px;
	line-height:22px;
}
#showjob .paralist li span {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    padding: 8px 5px;
    overflow: hidden;
    word-wrap: break-word;
}
#showjob .paralist li:last-child {
    border-bottom: 0;
}
#showjob .ctitle {
    margin: 30px 0 10px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
#showjob .info_cv {
    margin-top: 30px;
    margin-left: 10px;
}
#showjob .info_cv a {
    display: inline-block;
    background: #1da110;
    height: 35px;
    line-height: 35px;
    padding: 0 35px;
    color: #fff;
    border-radius: 2px;
}
.met_tools {display:none;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    position: relative;
    padding: 10px 10px 0;
    height: 50px;
    line-height: 50px;
}
}

















@media screen and (max-width:1199px){
.pagecss{text-align: center}
.pagecss ul{
    list-style-type: none;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.pagecss ul li{
    float:left;
    margin-left:5px;
    border: 1px solid #1da110;
    padding:2px 10px;


}
.pagecss ul li:hover{
    background-color: #01673a;
	color: #fff;
}
.pagecss ul li.active{
    float:left;
    margin-left:5px;
    border: 1px solid rgba(255,255,255,0.2);
    padding:2px 10px;
    border-radius: 0;
    background-color: #01673a;
	color: #fff;
}
.pagecss ul li a{
	color:#000;
    text-decoration: none;
}
.pagecss ul li a:hover{
    color: #fff;
	
}
/*文件下载*/
#downloadlist {
    padding: 1em;
width:100%;
float:left;
height:auto;
}
#downloadlist .metlist {
    margin-bottom: 2em;
}
#downloadlist .metlist dt {
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em 0 1em 2em;
    /*background: url(../images/dt-9.gif) no-repeat 5px 11px;*/
	background: #a3c698;
}
#downloadlist .metlist dd {
       color: #999;
    padding: 2em;
    background: #f7f8fa;
    margin: 0px 0px;
    font-size: 1em;
}
#downloadlist .metlist dd div {
    float: right;
}
#downloadlist .metlist dd a {
    color: #007131;
}
#downloadlist .metlist dd a.down {
    color: #fa1a1a;
}
#downloadlist .metlist dd span {
   padding-right: 20px;
    line-height: 1.5em;
}
#downloadlist .metlist dd b {
    font-weight: normal;
}

/*招聘页面-职位详情*/
#showjob h1.title {
    font-size: 24px;
    padding: 15px 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}
#showjob .paralist {
    background: #8c989f;
    padding: 5px 10px;
    color: #fff;
    visibility:visible;
    margin-top: 30px;

}
#showjob .paralist li {
     list-style: none;
    min-height: 3em;
    position: relative;
    border-bottom: 1px solid #ddd;
    height: 22px;
    line-height: 3em;
    font-size: 0.5em;
}
#showjob .paralist li span {
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    line-height:3em;
    overflow: hidden;
    word-wrap: break-word;
}
#showjob .paralist li:last-child {
    border-bottom: 0;
}
#showjob .ctitle {
    margin: 30px 0 10px;
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    height: 3em;
    line-height: 3em;
    border-bottom: 1px solid #ddd;
}

.jobc{ line-height: 2em;
    font-size: 0.5em;}
#showjob .info_cv {
    margin-top: 30px;
    margin-left: 10px;
}
#showjob .info_cv a {
    display: inline-block;
    background: #1da110;
    height: 2em;
    line-height: 2em;
    padding: 0 35px;
    color: #fff;
    border-radius: 2px;
    font-size: 1.5em;
}
.met_tools { display:none;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    position: relative;
    padding: 10px 10px 0;
    height: 50px;
    line-height: 50px;
}
}
</style>