

<div id="floor_5_main">
	<div id="floor_5">
		<div id="floor_5_1">
			<!-- 底部导航 开始-->
			<div class="bottom_navigation">
				<li><a href="__ROOT__/index.php/index/about/index" target="_self"  >关于我们</a>
					<ul class="subnavigationlist1">
						<li><a href="__ROOT__/index.php/index/about/show.html?id=21" target="_self">公司介绍</a></li>
                    <li><a href="__ROOT__/index.php/index/about/show.html?id=22" target="_self">资质荣誉</a></li>
						<li><a href="__ROOT__/index.php/index/about/show.html?id=23" target="_self">企业文化</a></li>
						<li><a href="__ROOT__/index.php/index/about/show.html?id=24" target="_self">宣传视频</a></li>
					</ul>
				</li>
				<li><a href="__ROOT__/index.php/index/news/index" target="_self"  >新闻资讯</a>
					<ul class="subnavigationlist1">
					<li><a href="__ROOT__/index.php/index/news/show.html?id=42" target="_self">公司新闻</a></li>
						<li><a href="__ROOT__/index.php/index/news/show.html?id=43" target="_self">行业动态</a></li>
                        <li><a href="__ROOT__/index.php/index/news/show.html?id=44" target="_self">项目公告</a></li>
                        <li><a href="__ROOT__/index.php/index/news/show.html?id=45" target="_self">媒体关注</a></li>
					</ul>
				</li>
				<li><a href="__ROOT__/index.php/index/product/index" target="_self"  >产品中心</a>
					<ul class="subnavigationlist1">
						<li><a href="__ROOT__/index.php/index/product/show.html?id=61" target="_self">苗木</a></li>
						<li><a href="__ROOT__/index.php/index/product/show.html?id=62" target="_self">水果</a></li>
						<li><a href="__ROOT__/index.php/index/product/show.html?id=63" target="_self">药材</a></li>
						
					</ul>
				</li>
					<li><a href="__ROOT__/index.php/index/bases/index" target="_self"  >基地实况</a>
					<ul class="subnavigationlist1">
						<li><a href="__ROOT__/index.php/index/bases/show.html?id=40" target="_self">育苗</a></li>
						<li><a href="__ROOT__/index.php/index/bases/show.html?id=41" target="_self">绿化</a></li>
						<li><a href="__ROOT__/index.php/index/bases/show.html?id=49" target="_self">施肥</a></li>
                        <li><a href="__ROOT__/index.php/index/bases/show.html?id=50" target="_self">项目展示</a></li>
						
					</ul>
				</li>	
                <li><a href="__ROOT__/index.php/index/contacts/index" target="_self"  >联系我们</a>
					<ul class="subnavigationlist1">
						<li><a href="__ROOT__/index.php/index/contacts/index.html" target="_self">人才招聘</a></li>
						<li><a href="__ROOT__/index.php/index/contacts/job.html" target="_self">联系电话</a></li>
						<li><a href="__ROOT__/index.php/index/contacts/map.html" target="_self">电子地图</a></li>
						
					</ul>
				</li>
			</div>
			<!-- 底部导航 结束-->
		</div>
		<div id="floor_5_2">
			<div class="contact_wrap">
				<p><b class="ico1">吴先生：</b>13508534338  &nbsp;<b class="ico2">伍先生：</b>13595364321</p>
				<b class="ico3">邮件：</b><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6657545552532617174805090b" style="color:#fff;">425669101@qq.com
</a><br/>
				<b class="ico4">地址：</b>贵州省安顺市普定县黄桶街道青山村安置小区
<br/>
			</div>
			<div class="WeChat"><img src="__STATIC__/images/ee.jpg">
				<div class="bdsharebuttonbox"><span class="LShare">微信扫描关注我们：</span>
					<a href="#" class="bds_more" data-cmd="more"></a>
					<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
					<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
					<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
					<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			</div>
<script src="/cdn-cgi/scripts/0e574bed/cloudflare-static/email-decode.min.js"></script>
<script>				window._bd_share_config={"common":

{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},
				"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};
				with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
			</script>
		</div>
	</div>
</div>
</div>

<!-- 底部版权 开始-->
<div id="copyright_main">
	<div id="copyright">
		<span><a  href="/" target="_self">绿源苗业</a>&nbsp;版权所有&nbsp;2017-2021&nbsp;黔ICP备17011924号-1&nbsp;&nbsp;&nbsp;技术支持-<a href="http://gzzysd.com" target="_blank">智越时代</a></span>
	</div>
</div>
<!--gotop start--><script type='text/javascript' src='/Public/jquery/common.js'></script><script>			scrolltotop.controlattrs={offsetx:20, offsety:150};
			scrolltotop.controlHTML = '<img src="/Public/__STATIC__/images/gotop/18.gif" />';
			scrolltotop.anchorkeyword = '#gotop';
			scrolltotop.title = '回顶部';
			scrolltotop.init();
		</script><!--gotop end--><!--在线客服start--><link rel='stylesheet' type='text/css' href='/Public/online/style/green.css'/><script type='text/javascript' src='/Public/online/jquery.online.js'></script><script 

type='text/javascript'>		$(function(){
			$().Sonline({
				Position:'left',
				Top:180,
				Width:160,
				Style:1, 
				Effect:true, 
				DefaultsOpen:true, 
				Tel:'1',
				Title:'在线客服',
				FooterText:"<img alt='微信扫一扫 关注我们' src='__STATIC__/images/qrcode.jpg' style='width: 130px; height: 130px;margin-top:8px;' title='微信扫一扫 关注微信公众号' /><br /><b style='color: rgb(255, 0, 

0);'>wangzhan</b><br /><strong>扫一扫，关注微信公众号</strong>",
				Website:'',
				Qqlist:'123123|业务咨询|1'
			});
		})	
		</script><!--在线客服end--><!-- 底部版权 结束--><script type="text/javascript"  src="//idm-su.baidu.com/su.js"></script>
   
<!--漂浮窗 开始-->

<link href="__STATIC__/lib/style1.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="lib/jquery-1.7.min.js"></script>
<script>
$(function() {
	// 悬浮窗口
	$(".yb_conct").hover(function() {
		$(".yb_conct").css("right", "5px");
		$(".yb_bar .yb_ercode").css('height', '200px');
	}, function() {
		$(".yb_conct").css("right", "-127px");
		$(".yb_bar .yb_ercode").css('height', '53px');
	});
	// 返回顶部
	$(".yb_top").click(function() {
		$("html,body").animate({
			'scrollTop': '0px'
		}, 300)
	});
});
</script>
<script src="/demos/googlegg.js"></script>
<div class="yb_conct">
  <div class="yb_bar">
    <ul>
      <li class="yb_top">返回顶部</li>
      <li class="yb_phone">13595364321</li>
<li class="yb_phone2"><a href="tel:13595364321" style="color:#fff;">一键拨打</a></li>
      <li class="yb_QQ">
      	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=414903907&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0" title="即刻发送您的需求">在线咨询</a>
      </li>
<li class="yb_ercode2" style="height:53px;"><a href="/index.php/index/about/index.html">关于我们 </a>
       </li>
      <li class="yb_ercode" style="height:53px;">微信二维码 <br>
        <img class="hd_qr" src="__STATIC__/images/weixin.jpg" width="125" alt="关注你附近"> </li>
 
    </ul>
  </div>
</div>
<!--漂浮窗 结束-->
</body></html>