<div id="navigation">
			<ul class="navigationlist">
				<li class="n1">
					<a href="/" target="_self" class="current">
						<div class="ChannelIcon">
							<img src="__STATIC__/images/1497341454.png" title="网站首页" alt="网站首页">
						</div>
						<span class="ChannelName">网站首页</span>
						<span class="ChannelSContent">HOME</span>
					</a>
				</li>
				<li class="n2">
					<a href="__ROOT__/index.php/index/about/index" target="_self"  >
                   
						<div class="ChannelIcon">
							<img src="__STATIC__/images/1497342226.png" title="关于我们" alt="关于我们">
						</div>
						<span class="ChannelName">关于我们</span>
						<span class="ChannelSContent">ABOUTS US</span>
					</a>
					<ul class="subnavigationlist">
                    <li><a href="__ROOT__/index.php/index/about/show.html?id=21" target="_self">公司介绍</a></li>
                    <li><a href="__ROOT__/index.php/index/about/show.html?id=22" target="_self">资质荣誉</a></li>
						<li><a href="__ROOT__/index.php/index/about/show.html?id=23" target="_self">企业文化</a></li>
						<li><a href="__ROOT__/index.php/index/about/show.html?id=24" target="_self">宣传视频</a></li>
                        	<li><a href="__ROOT__/index.php/index/about/show.html?id=64" target="_self">领导介绍</a></li>
					</ul>
				</li>
				<li class="n3">
					<a href="__ROOT__/index.php/index/news/index" target="_self"  >
						<div class="ChannelIcon">
							<img src="__STATIC__/images/1497341430.png" title="新闻资讯" alt="新闻资讯">
						</div>
						<span class="ChannelName">新闻资讯</span>
						<span class="ChannelSContent">NEWS</span>
					</a>
					<ul class="subnavigationlist">
						<li><a href="__ROOT__/index.php/index/news/show.html?id=42" target="_self">公司新闻</a></li>
						<li><a href="__ROOT__/index.php/index/news/show.html?id=43" target="_self">行业动态</a></li>
                        <li><a href="__ROOT__/index.php/index/news/show.html?id=44" target="_self">项目公告</a></li>
                        <li><a href="__ROOT__/index.php/index/news/show.html?id=45" target="_self">媒体关注</a></li>
					</ul>
				</li>
				<li class="n3">
					<a href="__ROOT__/index.php/index/traning/index" target="_self"  >
					<div class="ChannelIcon">
						<img src="__STATIC__/images/1497341488.png" title="产品中心" alt="产品中心">
					</div>
					<span class="ChannelName">培训课堂</span>
					<span class="ChannelSContent">TRANING</span>
					</a>
					<ul class="subnavigationlist">
                    <li><a href="__ROOT__/index.php/index/traning/index.html" target="_self">培训内容</a></li>
						<li><a href="__ROOT__/index.php/index/traning/report.html" target="_self">技术报告</a></li>
						
						
					</ul>
				</li>
				<li class="n6">
					<a href="__ROOT__/index.php/index/bases/index" target="_self"  >
					<div class="ChannelIcon">
						<img src="__STATIC__/images/1497688865.png" title="成功案例" alt="成功案例">
					</div>
					<span class="ChannelName">基地实况</span>
					<span class="ChannelSContent">BASE</span>
					</a>
                    <ul class="subnavigationlist">
						<li><a href="__ROOT__/index.php/index/bases/show.html?id=40" target="_self">育苗</a></li>
						<li><a href="__ROOT__/index.php/index/bases/show.html?id=41" target="_self">绿化</a></li>
						<li><a href="__ROOT__/index.php/index/bases/show.html?id=49" target="_self">施肥</a></li>
                        <li><a href="__ROOT__/index.php/index/bases/show.html?id=50" target="_self">项目展示</a></li>
					</ul>
				</li>
				<li class="n7">
					<a href="__ROOT__/index.php/index/product/index" target="_self"  >
					<div class="ChannelIcon">
						<img src="__STATIC__/images/1497341526.png" title="人才招聘" alt="人才招聘">
					</div>
					<span class="ChannelName">产品</span>
					<span class="ChannelSContent">PRODUCTS</span>
					</a>
                     <ul class="subnavigationlist">
						<li><a href="__ROOT__/index.php/index/product/show.html?id=61" target="_self">苗木</a></li>
						<li><a href="__ROOT__/index.php/index/product/show.html?id=62" target="_self">水果</a></li>
						<li><a href="__ROOT__/index.php/index/product/show.html?id=63" target="_self">药材</a></li>
                  
					</ul>
				</li>
				<li class="n8">
					<a href="__ROOT__/index.php/index/messages/index" target="_self"  >
					<div class="ChannelIcon">
						<img src="__STATIC__/images/1497341538.png" title="在线留言" alt="在线留言">
					</div>
					<span class="ChannelName">在线留言</span>
					<span class="ChannelSContent">MESSAGE</span>
					</a>
				</li>
				<li class="n9">
					<a href="__ROOT__/index.php/index/contacts/index" target="_self"  >
					<div class="ChannelIcon">
						<img src="__STATIC__/images/1497341550.png" title="联系我们" alt="联系我们">
					</div>
					<span class="ChannelName">联系我们</span>
					<span class="ChannelSContent">CONTACTUS</span>
					</a>
                     <ul class="subnavigationlist">
						<li><a href="__ROOT__/index.php/index/contacts/index.html" target="_self">联系电话</a></li>
						<li><a href="__ROOT__/index.php/index/contacts/job.html" target="_self">人才招聘</a></li>
						<li><a href="__ROOT__/index.php/index/contacts/map.html" target="_self">电子地图</a></li>
                  
					</ul>
				</li>
			</ul>
		</div>
		<!--导航条 结束-->
	</div>
</div>
<!--Logo 结束-->