 <body class="body_index">
	<!--顶部 开始-->
    	<div id="top_main">
        	<div id="top">
            	<div id="top_1"></div>
                <div id="top_2">
                	
                </div>
            </div>
         </div>
      <!--顶部 结束-->
      <!--Logo 开始-->
      <div id="logo_main">
      	<div id="logo">
        	<!--网站Logo 开始-->
		<div class="WebLogo">
			<a href="/" target="_self">
				<img  src="__STATIC__/images/logo.png" title="普定县绿源苗业开发公司司" alt="普定县绿源苗业开发公司" />
			</a>
		</div>
		<!--网站Logo 结束-->